.DorkshopEntry {
  padding: 3rem 0;
  border-bottom: solid 1px var(--color-gray);
}


.DorkshopEntry h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.personInfo {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.dateInfo {
  font-weight: 600;
}

.description {
  margin-top: 1.5rem;
}


.emailButton,
.calenderEvent {
  display: inline-block;
  border: solid 2px var(--color-highlight);
  color: var(--color-highlight);
  text-decoration: none;
  cursor: pointer;
  margin-left: 0.5rem;
  padding: 0.1em 0.2em;
  vertical-align: 0.2em;
  font-size: 0.7rem;

  border-radius: 5px;
}
.emailButton:hover,
.calenderEvent:hover {
  background: var(--color-highlight);
  color: var(--color-font);
}


.isNow {
  color: var(--color-highlight);
  font-size: 1rem;
  vertical-align: 0.3em;
}
