.FilterBar {
  margin: 2rem 0;
}


.FilterBar input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  margin: 0;
  display: block;
  width: auto;
  resize: none;
  padding: 0;

  width: 100%;
  font-family: var(--font-family-reg);
  font-size: 2rem;
  color: var(--color-font);
  padding: 0.3em 0;
  border-bottom: solid 2px var(--color-gray);
}
.FilterBar input::placeholder {
  opacity: 0.4;
}


.FilterBar input:focus {
  border-bottom-color: var(--color-font);
}
